//
// Paths & Directories
//
$asset_dir: "../src/assets/";


// Colors
$dark-gray: #2c2c2c;
$light-gray: #f6f6f6;
$mid-gray: #dad7d7;
$blue: #4aaaee;
$white: #fff;
$gray: #646464;
$silver: #afafaf;
$dark: #5d5d5d;
$main-color: #eaeaea;
$main-color-dark: #d8d8d8;
$main-color-darker: #e8e8e8;

$default-space : 1rem !default;

$border-radius-md: 20px;
$border-radius-lg: 40px;

$grid-breakpoints: (xs: 0,
        xsm: 374px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px) !default;